* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#headerMobile, footer, #specificContent{
  display: none;
  transition: all 1s ease;
}

#Inicio{
  display: grid;
  grid-template-rows: 64px auto;
  grid-template-areas: "header" "content";
}

#content {
  padding: 20px 60px 0px 60px;
  grid-area: content;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 230px));
  grid-column-gap: 10px;
  justify-content: center;
}

#content .column {
  justify-self: center;
}

#content .column .element {
  width: 100%;
  border-radius: 10px;
  margin: 5px 0;
}
#content .column .element img {
  width: 100%;
  border-radius: 10px;
}

#header .Space, #header_2 .Space{
  align-self: center;
  justify-self: center;
  width: 1px;
  height: 30px;
  border: 1px solid #efefef;
}

#header, #header_2 {
  top: 0;
  position: fixed;
  grid-area: header;
  display: grid;
  grid-template-columns: 70px auto 70px 120px 120px 24px repeat(3,50px);
  grid-column-gap: 5px;
  border-bottom: 1px solid #efefef;
  background-color: white;
  width: 100%;
  height: 64px;
}

#header .inicio, #header_2 .inicio {
  color: #333;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: -.4px;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica,"\30D2\30E9\30AE\30CE\89D2\30B4 Pro W3",Hiragino Kaku Gothic Pro,"\30E1\30A4\30EA\30AA",Meiryo,"\FF2D\FF33 \FF30\30B4\30B7\30C3\30AF",Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  display: grid;
  align-self: center;
  justify-self: center;
}

#header .btn_span, #header_2 .btn_span {
  display: grid;
  grid-template-columns: 48px auto;
  align-self: center;
  justify-self: center;
  width: 120px;
  height: 48px;
}

#header .btn, #header_2 .btn {
  display: grid;
  align-self: center;
  justify-self: center;
  width: 48px;
  height: 48px;
}

#header .btn .pinterest, #header_2 .btn .pinterest{
  display: grid;
  align-self: center;
  justify-self: center;
}

#header .btn .pinterest svg, #header_2 .btn .pinterest svg {
  display: grid;
  align-self: center;
  justify-self: center;
  width: 32px;
  height: 32px;
}

#header .btn svg, #header .btn_span svg, #header_2 .btn svg, #header_2 .btn_span svg {
  display: grid;
  align-self: center;
  justify-self: center;
  width: 24px;
  height: 24px;
}

#header .btn_span span, #header_2 .btn_span span {
  display: grid;
  align-self: center;
  color: #8e8e8e;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -.4px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",メイリオ,Meiryo,"ＭＳ Ｐゴシック",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

#header .searchbar, #header_2 .searchbar {
  display: grid;
  grid-template-columns: 40px auto;
  grid-template-rows: 40px;
  align-self: center;
  justify-self: center;
  padding: 0px 8px;
  width: 100%;
  background-color: #efefef;
  border: 0;
  border-radius: 8px;
}

#header .searchbar span, #header_2 .searchbar span {
  display: grid;
  align-self: center;
  color: #8e8e8e;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -.4px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",メイリオ,Meiryo,"ＭＳ Ｐゴシック",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

#header .searchbar svg, #header_2 .searchbar svg {
  display: grid;
  width: 20px;
  height: 20px;
  align-self: center;
  justify-self: center;
}


@media (max-width: 1080px){
  #header {
    grid-template-columns: 70px auto 50px 50px 24px repeat(3,50px);
  }
  #header .btn_span span {
    display: none;
  }
  #header .inicio{
    display: none;
  }
  #header .btn_span {
  grid-template-columns: none;
  align-self: center;
  justify-self: center;
  width: 48px;
  height: 48px;
  }
  #content {
    grid-template-columns: repeat(auto-fit, minmax(120px, 200px));
    padding: 5px 30px 0px 30px
  }
}

@media (max-width: 360px) {

  #Inicio {
    width: 100%;
    grid-template-rows: 64px auto 52px;
    grid-template-areas: "header" "content" "footer";
  }

  #info {
    display: grid;
    grid-template-rows: repeat(2,40px) 40px 40px 40px;
    padding: 0px 16px;
  }

  #info .btnIr {
    grid-row: 2/3;
    grid-column: 1/3;
    height: 35px;
    width: 100%;
    background-color: #efefef;
    border: 0;
    border-radius: 5px;
    padding: 12px;
    display: grid;
    grid-template-columns: 20px 68px;
    align-self: center;
    justify-content: center;
  }

  #info .btnIr svg {
    align-self: center;
    justify-self: center;
  }

  #info .person {
    display: grid;
    grid-template-columns: 48px auto;
    grid-column: 1/3;
    grid-row: 3/5;
  }

  #info .person .photo{ 
    grid-column: 1/2;
    grid-row: 3/5;
  }

  #info .person .photo svg{ 
    height: 40px;
    width: 40px;
  }

  #info .person .text{ 
    grid-column: 2/3;
    grid-row: 3/5;
  }

  #info .mas{
    grid-row: 5/6;
  }

  #info .mas span{
    font-size: 18px;
    font-weight: 700;
    letter-spacing: -1.4px;
    color: #333;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica,"\30D2\30E9\30AE\30CE\89D2\30B4 Pro W3",Hiragino Kaku Gothic Pro,"\30E1\30A4\30EA\30AA",Meiryo,"\FF2D\FF33 \FF30\30B4\30B7\30C3\30AF",Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  }

  #info ._1, #info .person{
    align-self: center;
  }

  #info a {
    font-size: 14px;
    letter-spacing: -.4px;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica,"\30D2\30E9\30AE\30CE\89D2\30B4 Pro W3",Hiragino Kaku Gothic Pro,"\30E1\30A4\30EA\30AA",Meiryo,"\FF2D\FF33 \FF30\30B4\30B7\30C3\30AF",Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    color: #333;
    font-weight: 700;
  }

  #info span {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -1.4px;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica,"\30D2\30E9\30AE\30CE\89D2\30B4 Pro W3",Hiragino Kaku Gothic Pro,"\30E1\30A4\30EA\30AA",Meiryo,"\FF2D\FF33 \FF30\30B4\30B7\30C3\30AF",Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  }

  footer {
    position: fixed;
    bottom: 0px;
    display: grid;
    grid-area: footer;
    grid-template-columns: repeat(4,auto);
    height: 52px;
    width: 100%;
    background-color: white;
    padding: 5px 20px;
    border-top: 1px solid #efefef;
  }

  footer.hide {
    bottom: -52px;
  }

  footer.show {
    bottom: 0px;
  }

  footer .btn{
    display: grid;
    grid-template-rows: auto auto;
  }

  footer .btn span{
    align-self: center;
    justify-self: center;
    font-size: 12px;
    color: #8e8e8e;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica,"\30D2\30E9\30AE\30CE\89D2\30B4 Pro W3",Hiragino Kaku Gothic Pro,"\30E1\30A4\30EA\30AA",Meiryo,"\FF2D\FF33 \FF30\30B4\30B7\30C3\30AF",Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  
  }

  footer .btn svg{
    align-self: center;
    justify-self: center;
    height: 24px;
    width: 24px;
  }

  #headerMobile_2{
    position: fixed;
    display: grid;
    grid-template-columns: 40px 40px auto 86px 98px;
    grid-area: header;
    height: 64px;
    width: 100%;
    padding: 0px 16px;
    background-color: white;
    border-bottom: 1px solid #efefef;
  }

  #headerMobile_2 .btn, #headerMobile_2 .btnDevolverse{
    display: grid;
    justify-self: center;
    align-self: center;
  }

  #headerMobile_2 .btnEnviar {
    display: grid;
    grid-template-columns: 16px auto;
    align-items: center;
    justify-self: center;
    align-self: center;
    height: 40px;
    background-color: #efefef;
    border: 0;
    border-radius: 5px;
    padding: 10px;
    margin-left: 8px;
  }

  #headerMobile_2 .btnEnviar span {
  padding-left: 5px;
  font-size: 16px;
  color: #333;
  font-weight: 700;
  letter-spacing: -1.4px;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica,"\30D2\30E9\30AE\30CE\89D2\30B4 Pro W3",Hiragino Kaku Gothic Pro,"\30E1\30A4\30EA\30AA",Meiryo,"\FF2D\FF33 \FF30\30B4\30B7\30C3\30AF",Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  }

  #headerMobile_2 .btnGuardar {
    display: grid;
    grid-template-columns: 16px auto;
    align-items: center;
    justify-self: center;
    align-self: center;
    height: 40px;
    background-color: #e60023;
    border: 0;
    border-radius: 5px;
    padding: 10px;
    margin-left: 8px;
  }

  #headerMobile_2 .btnGuardar span {
  padding-left: 5px;
  font-size: 16px;
  color: white;
  font-weight: 700;
  letter-spacing: -1.4px;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica,"\30D2\30E9\30AE\30CE\89D2\30B4 Pro W3",Hiragino Kaku Gothic Pro,"\30E1\30A4\30EA\30AA",Meiryo,"\FF2D\FF33 \FF30\30B4\30B7\30C3\30AF",Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  }

  #headerMobile_2 .btn svg, .btnDevolverse svg{
    justify-self: center;
    align-self: center;
    height: 24px;
    width: 24px;
  }

  #headerMobile{
    position: fixed;
    display: grid;
    grid-template-columns: auto 40px;
    grid-area: header;
    height: 64px;
    width: 100%;
    padding: 0px 16px;
    background-color: white;
    border-bottom: 1px solid #efefef;
  }

  #headerMobile.hide {
    top: -64px;
  }
  #headerMobile.show {
    top: 0px;
  }

  #headerMobile .searchbar{
    display: grid;
    grid-template-columns: 40px auto;
    align-self: center;
    height: 40px;
    background-color: #efefef;
    border: 0;
    border-radius: 5px;
    padding: 5px;
  }

  #headerMobile .searchbar svg{
    display: grid;
    justify-self: center;
    align-self: center;
    height: 20px;
    width: 20px
  }

  #headerMobile .searchbar span{
    display: grid;
    align-self: center;
    color: #8e8e8e;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: -.4px;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica,"\30D2\30E9\30AE\30CE\89D2\30B4 Pro W3",Hiragino Kaku Gothic Pro,"\30E1\30A4\30EA\30AA",Meiryo,"\FF2D\FF33 \FF30\30B4\30B7\30C3\30AF",Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  }

  #headerMobile .btn{
    display: grid;
    justify-self: center;
    align-self: center;
    padding-left: 12px;
  }

  #headerMobile .btn svg{
    justify-self: center;
    align-self: center;
    height: 24px;
    width: 24px;
  }

  #content {
    grid-template-columns: repeat(auto-fit, minmax(100px, 100px));
    padding: 5px 8px 0px 8px;
    width: 100%;
  }

  #header_2, #header {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
