$mobile-bar-h: 45px;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

header, #fakeHeader {
  position: relative;
  height: 150px;
  width: 100vw;
  background-color: white;
  border-bottom: 1px solid gray;
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  z-index: 1987;
}

#fakeHeader {
  height: 75px;
  position: fixed;
  top: -75px;
  opacity: 0;
  transition: all 1s ease;
  z-index: 1986;
}

#content {
  display: flex;
  width: 100vw;
  height: 100vh;
  padding: 5px;
}

#headerMobile, footer{
    display: none;
    transition: all 1s ease;
}
#headerMobile{
    position: fixed;
    height: $mobile-bar-h;
    width: 100%;
    background-color: white;
    top: 0px;
    padding: 6px 15px;
    input{
        width: 100%;
        background-color: #5f5f5f7a;
        border-radius: 10px;
    }
    &.hide{
        top: -$mobile-bar-h;
    }
}
footer{
    position: fixed;
    bottom: 0px;
    background-color: white;
    width: 100%;
    border-top: 1px solid rgba(40,40,40,0.4);
    justify-content: space-between;
    padding: 0 15px;
    &.hide{
        bottom: -$mobile-bar-h;
    }
    .btn{
        display: flex;
        flex-flow: column;
        justify-content: flex-end;
        align-items: center;
        padding: 5px;
        svg{
            width: 24px;
            height: 24px;
            path{
                fill: #5f5f5f;
            }
            &.pinterest{
                path{
                    fill: #E6001A;
                }
            }
        }
    }  
}

.column {
  padding: 5px;
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  justify-content: space-between;
    .element {
        width: 100%;
        border-radius: 10px;
        margin: 5px 0;
        img {
            width: 100%;
            border-radius: 10px;
        }
    }
}

@media (max-width: 375px){
    #content{
        flex-flow: row wrap;
        margin-top: $mobile-bar-h;
    }
    .column{
        flex: 33.3%;
    }
    #headerMobile, footer{ 
        display: flex;
        height: $mobile-bar-h;
    }
    header, #fakeHeader {
        display: none;
    }
}
